.vs/HoloGraphicEngine/v15/.suo
.vs/HoloGraphicEngine/v15/Browse.VC.db
.vs/HoloGraphicEngine/v15/Browse.VC.opendb
.vs/HoloGraphicEngine/v15/Solution.VC.db
.vs/HoloGraphicEngine/v15/Solution.VC.db-shm
.vs/HoloGraphicEngine/v15/Solution.VC.db-wal
.vs/HoloGraphicEngine/v15/ipch/1da8c0b2688c1b4f.ipch
.vs/HoloGraphicEngine/v15/ipch/AutoPCH/1150d48aa89bb597/RENDERAPI_D3D11_0.ipch
.vs/HoloGraphicEngine/v15/ipch/AutoPCH/6924cbf0a3c27da7/TRACKINGAPI.ipch
.vs/HoloGraphicEngine/v15/ipch/AutoPCH/6bca879dab421018/PROJECTMANAGER.ipch
.vs/HoloGraphicEngine/v15/ipch/AutoPCH/76ed419c4d83279/MATRIX2.ipch
.vs/HoloGraphicEngine/v15/ipch/AutoPCH/77c9661e783437a1/HOLOGRAPHICUTILITIES.ipch
.vs/HoloGraphicEngine/v15/ipch/AutoPCH/879859339ef09f9e/SCENE.ipch
.vs/HoloGraphicEngine/v15/ipch/AutoPCH/8843b2582df0ec5c/MAIN.ipch
.vs/HoloGraphicEngine/v15/ipch/AutoPCH/8c949fe2450ba013/MATRIX4X4.ipch
.vs/HoloGraphicEngine/v15/ipch/AutoPCH/93f9466094917a1b/MICROLIGHTLIBRARY.ipch
.vs/HoloGraphicEngine/v15/ipch/AutoPCH/a158f6bf13c021c0/MATRIX3.ipch
.vs/HoloGraphicEngine/v15/ipch/AutoPCH/c0b6c222f471512f/MATRIX4.ipch
.vs/HoloGraphicEngine/v15/ipch/AutoPCH/d07dc4b2010e4f80/MICROLIGHTIRTRACKING.ipch
.vs/HoloGraphicEngine/v15/ipch/AutoPCH/e20716ef0458aad3/MATRIX3X3.ipch
.vs/HoloGraphicEngine/v15/ipch/AutoPCH/e3bd00f836d17879/HOLOGRAPHICUTILITIES.ipch
.vs/HoloGraphicEngine/v15/ipch/AutoPCH/e4318b96b535798a/CUBE.ipch
.vs/HoloGraphicEngine/v15/ipch/AutoPCH/ed7e1ac06ba1e11b/HOLOGRAPHICUTILITIES.ipch
.vs/HoloGraphicEngine/v15/ipch/AutoPCH/f9bc2173f6b4b75f/HOLOGRAPHICUTILITIES.ipch
